@font-face {
    font-family: 'rainyhearts';
    src: url('/fonts/rainyhearts.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'daydream';
    src: url('/fonts/daydream.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dreamertm';
    src: url('/fonts/dreamertm.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mansalva';
    src: url('/fonts/mansalva.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ballet';
    src: url('/fonts/ballet.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dmserifdisplay';
    src: url('/fonts/dmserifdisplay.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'advercase';
    src: url('/fonts/advercase.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'angelica';
    src: url('/fonts/angelica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'chopinscript';
    src: url('/fonts/chopinscript.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'wordstaken';
    src: url('/fonts/wordstaken.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'starborn';
    src: url('/fonts/starborn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kiwisoda';
    src: url('/fonts/kiwisoda.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pressstart2p';
    src: url('/fonts/pressstart2p.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cutiequeues';
    src: url('/fonts/cutiequeues.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'floozy';
    src: url('/fonts/floozy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'prettyontheinside';
    src: url('/fonts/prettyontheinside.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'crazycurlz';
    src: url('/fonts/crazycurlz.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'curlyshirley';
    src: url('/fonts/curlyshirley.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'iamthecrayonmonster';
    src: url('/fonts/iamthecrayonmonster.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'griffiths';
    src: url('/fonts/griffiths.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'minecraft';
    src: url('/fonts/minecraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'newromantics';
    src: url('/fonts/newromantics.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'crossstitch';
    src: url('/fonts/crossstitch.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'jhericurls';
    src: url('/fonts/jhericurls.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'angelknives';
    src: url('/fonts/angelknives.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fromme2you';
    src: url('/fonts/fromme2you.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lettermagic';
    src: url('/fonts/lettermagic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'orange';
    src: url('/fonts/orange.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rascal';
    src: url('/fonts/rascal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cavalhatriz';
    src: url('/fonts/cavalhatriz.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'stars';
    src: url('/fonts/stars.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}