<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageName}}</title>
    
    <!-- tailwind cdn -->
    <script src="https://cdn.tailwindcss.com"></script>
    
    <!-- css 
    <link rel="stylesheet" href="css/styles.css"> 
    -->
</head>
<body style="background-color: {{pageColour}};">
    <div class="h-screen w-screen flex justify-center items-center">
        <div
            style="
                width: {{pageWidth}}px; 
                height: {{pageHeight}}px; 
                background-color: {{pageColour}}; 
                position: relative; 
                overflow: hidden;
            "
        >
            {{content}}
        </div>
    </div>
</body>
</html>